<div class="ui basic segment">
  <div class="ui middle aligned centered grid">
    <div class="column">
      <h2 class="ui header">
        <!-- <img class="ui image" src="/img/logo-1.png" alt="Uazon Logo" /> -->
        <div class="content">Date de alta</div>
      </h2>
      <div class="ui divider"></div>
      <form class="ui form" #registerForm="ngForm">
        <div class="ui stacked segment">
          <div class="field">
            <label>Nombre y apellidos</label>
            <input name="nombre" placeholder="Nombre y apellidos" [(ngModel)]="user.name" type="text">
          </div>
          <div class="field">
            <label>Email</label>
            <input name="email" placeholder="Email" [(ngModel)]="user.email" type="email">
          </div>
          <!-- <div class="field">
        <label>País</label>
        <input name="pais" placeholder="País" type="text">
      </div> -->
          <div class="field">
            <label>Dirección</label>
            <input name="direccion" placeholder="Dirección" [(ngModel)]="user.address" type="text">
          </div>
          <div class="field">
            <label>Código postal</label>
            <input name="codigo_postal" placeholder="Código postal" [(ngModel)]="user.cp" type="text">
          </div>
          <div class="field">
            <label>Contraseña</label>
            <input name="contrasenya" placeholder="Contraseña" [(ngModel)]="user.password" type="text">
          </div>
          <div class="field">
            <label>Repetir contraseña</label>
            <input name="repetir_contrasenya" placeholder="Repetir contraseña" [(ngModel)]="user.paswordRepeat" type="text">
          </div>
          <input type="submit" class="ui fluid large blue button" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</div>