<div class="ui basic segment">
  <div class="ui middle aligned centered grid">
    <div class="column">
      <h2 class="ui header">
        <!-- <img class="ui image" src="/img/logo-1.png" alt="Uazon Logo" /> -->
        <div class="content">Date de alta</div>
      </h2>
      <div class="ui divider"></div>

      <div class="ui success message" *ngIf="status === 'success'">
        <p>
          {{message}}
        </p>
      </div>
      <div class="ui negative message" *ngIf="status === 'error'">
        <div class="header">
          Se ha producido un error en el registro.
        </div>
        <p>{{message}}</p>
      </div>

      <form class="ui form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm);">
        <div class="ui stacked segment">
          <div class="field required" [class.error]="name.invalid && name.touched">
            <label>Nombre y apellidos</label>
            <input name="name" #name="ngModel" [(ngModel)]="user.name" placeholder="Nombre y apellidos" required type="text">
          </div>
          <div class="field required" [class.error]="email.invalid && email.touched">
            <label>Email</label>
            <input name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" required email type="email">
            <small [hidden]="email.valid || !email.touched">
              Formato de email inválido
            </small>
          </div>
          <!-- <div class="field">
        <label>País</label>
        <input name="pais" placeholder="País" type="text">
      </div> -->
          <div class="field required" [class.error]="!address.valid && address.touched">
            <label>Dirección</label>
            <input name="address" #address="ngModel" [(ngModel)]="user.address" placeholder="Dirección" required type="text">
          </div>
          <div class="field required" [class.error]="!cp.valid && cp.touched">
            <label>Código postal</label>
            <input name="cp" #cp="ngModel" [(ngModel)]="user.cp" placeholder="Código postal" required maxlength="5" type="text">
          </div>
          <div class="field required" [class.error]="!password.valid && password.touched">
            <label>Contraseña</label>
            <input name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" required minlength="4" type="password">
          </div>
          <div class="field required" [class.error]="!passwordRepeat.valid && passwordRepeat.touched">
            <label>Repetir contraseña</label>
            <input name="passwordRepeat" #passwordRepeat="ngModel" [(ngModel)]="user.passwordRepeat" placeholder="Repetir contraseña"
              required validateEqual="password" type="password">
            <small [hidden]="passwordRepeat.valid || !passwordRepeat.touched">
              Las contraseñas no coinciden
            </small>
          </div>
          <input type="submit" [disabled]="!registerForm.form.valid" class="ui fluid large blue button" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</div>