<div *ngIf="!users" class="ui active centered inline loader"></div>
<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="content">
    <p>El usuario
      <strong>{{ context.data.name }}</strong> va a ser eliminado, ¿estás seguro?</p>
  </div>
  <div class="actions">
    <button class="ui blue button" (click)="modal.deny()">Cancelar</button>
    <button class="ui red button" (click)="modal.approve()" autofocus>Borrar</button>
  </div>
</ng-template>
<table class="ui blue selectable table" *ngIf="users">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Dirección</th>
      <th colspan="3">Código Postal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.address}}</td>
      <td>{{user.cp}}</td>
      <td>
        <a class="circular ui basic blue icon button" [routerLink]="['./', user.id]">
          <i class="pencil alternate icon"></i>
        </a>
      </td>
      <td>
        <a class="circular ui basic red icon button" (click)="openModal(user)">
          <i class="trash icon"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>