<div *ngIf="!comments" class="ui active centered inline loader"></div>

<!-- delete comments modal -->
<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="content">
    <p>El comentario de 
      <strong>{{ context.data.autor }}</strong> va a ser eliminado, ¿estás seguro?</p>
  </div>
  <div class="actions">
    <button class="ui blue button" (click)="modal.deny()">Cancelar</button>
    <button class="ui red button" (click)="modal.approve()" autofocus>Borrar</button>
  </div>
</ng-template>

<table class="ui blue selectable table" *ngIf="comments">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Descripción</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{comment.autor}}</td>
      <td>{{comment.descripcion}}</td>
      <td>{{comment.libro.nombre}}</td>
      <td class="icons-cell">
        <a class="circular ui basic red icon button" (click)="openModal(comment)">
          <i class="trash icon"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>