<div *ngIf="!books" class="ui active centered inline loader"></div>
<ng-template let-context let-modal="modal" #modalTemplate>
  <div class="content">
    <p>El libro
      <strong>{{ context.data.titulo }}</strong> va a ser eliminado, ¿estás seguro?</p>
  </div>
  <div class="actions">
    <button class="ui blue button" (click)="modal.deny()">Cancelar</button>
    <button class="ui red button" (click)="modal.approve()" autofocus>Borrar</button>
  </div>
</ng-template>
<table class="ui blue selectable table" *ngIf="books">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Editorial</th>
      <th>Autor/es</th>
      <th>Nº de páginas</th>
      <th>Precio</th>
      <th colspan="3">ISBN</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.titulo}}</td>
      <td>{{book.editorial}}</td>
      <td [ngSwitch]="book.autores.length">
        <p *ngSwitchCase="0">-</p>
        <p *ngSwitchCase="1">{{ book.autores[0].nombre }}</p>
        <p *ngSwitchDefault>{{ book.autores[0].nombre }} ...</p>
      </td>
      <td>{{book.n_pags}}</td>
      <td>{{book.precio}}</td>
      <td>{{book.isbn}}</td>
      <td>
        <a class="circular ui basic blue icon button" [routerLink]="['./', book.id]">
          <i class="pencil alternate icon"></i>
        </a>
      </td>
      <td>
        <a class="circular ui basic red icon button" (click)="openModal(book)">
          <i class="trash icon"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>